<h1>Welcome to My Pokemon Website</h1>

<header>Choose your pokemon type</header>

<ul>
    <li><a href="/trainers/electric">Electric</a></li>
    <li><a href="/trainers/normal">Normal</a></li>
    <li><a href="/trainers/fire">Fire</a></li>
    <li><a href="/trainers/psychic">Psychic</a></li>
</ul>